<div class="searchbarcomponent content" role="main">

  <mat-form-field class="address-form-field" appearance="fill">
    <mat-label>Address</mat-label>
    <input matInput type="text" [(ngModel)]="address" (keydown)="onKeyDown($event)">
    <button *ngIf="address" matSuffix mat-icon-button aria-label="Clear" (click)="address=''">
      <mat-icon>close</mat-icon>
    </button>
    <button *ngIf="address" matSuffix mat-icon-button aria-label="Submit" (click)="onSubmit($event)">
      <mat-icon>check</mat-icon>
    </button>
  </mat-form-field>

  <br />

  <button mat-raised-button color="primary" id="submit" (click)="onSubmit($event)">Submit</button>

  <br />
  
  <p>Value:<br />{{ address }}</p>
  <p>Coords:<br />{{ coords.value }}</p>


</div>